<div *ngIf="correct === null">
  <h3>Key: {{key}}</h3>

  <h4>Input: {{input.join('')}}</h4>

  <div>
    <button *ngFor="let k of keys" (click)="add(k)">{{k}}</button>
    <button (click)="delete()">Delete</button>
  </div>

  <div style="margin-top: 1em;">
    <button (click)="hint()">Hint</button>
    <button (click)="submit()">Submit</button>
  </div>
</div>

<div *ngIf="correct === true">
  <h1>Success! Well done</h1>
  <button (click)="reset()">Reset</button>
</div>

<div *ngIf="correct === false">
  <h1>Fail! You suck</h1>
  <button (click)="reset()">Reset</button>
</div>